.retailGoodsSection {
    padding: 1rem;
    text-align: center;
  }
  
  .cardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  