/* Header.module.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #326300; /* Change as per your color theme */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px; /* Adjust the size as per your requirement */
}

/* Additional styles if needed */
