.iconButton {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s;
  
    /* Icon size can be adjusted as needed */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconButton:hover {
    background-color: #f3f4e7;
  }
  