/* frontend/src/app/components/ui/DatePicker/DatePicker.module.css */
.datePickerGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.datePicker {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
